[submodule "cardano-db-sync"]
	path = cardano-db-sync
	url = https://github.com/IntersectMBO/cardano-db-sync
[submodule "cardano-configurations"]
	path = cardano-configurations
	url = https://github.com/input-output-hk/cardano-configurations
